@import url(https://fonts.googleapis.com/css?family=Michroma);

*{
font-family: "Michroma", sans-serif;

}
body {
  background-color: white;
  margin: 0px;
  font-family:Monospace;
  font-size:11px;
  text-align:center;
  font-weight: bold;
  text-align:center;
}

a {
  color:#0078ff;
}
ul{
  list-style: none;
}


#container{
  height: 100vh;
}
.disableSelection{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
}
.twenty{
  height:20vh;
  background-color: 0,0,0,.5;
}
.hundred{
  height:100vh;
  background-color: blue;
}
.GUIcontainer{
    margin:0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.dg.main{

  font-size: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
.instructions{
  padding-top: 30px;
  font-size: 8px;
  display: block;
  color: white;
}
